workspace/CertifierComponent/WebContent/wsdl/CertifierComponent.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://service.web.certification.hpcshelf" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://service.web.certification.hpcshelf" xmlns:intf="http://service.web.certification.hpcshelf" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://service.web.certification.hpcshelf" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="certify">
    <complexType>
     <sequence>
      <element name="hashAbstractComponent" type="xsd:string"/>
      <element name="hashConcreteComponent" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="certifyResponse">
    <complexType>
     <sequence>
      <element name="certifyReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="certifyRequest">

      <wsdl:part element="impl:certify" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="certifyResponse">

      <wsdl:part element="impl:certifyResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="CertifierComponent">

      <wsdl:operation name="certify">

         <wsdl:input message="impl:certifyRequest" name="certifyRequest">

       </wsdl:input>

         <wsdl:output message="impl:certifyResponse" name="certifyResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="CertifierComponentSoapBinding" type="impl:CertifierComponent">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="certify">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="certifyRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="certifyResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="CertifierComponentService">

      <wsdl:port binding="impl:CertifierComponentSoapBinding" name="CertifierComponent">

         <wsdlsoap:address location="http://localhost:8080/CertifierComponent/services/CertifierComponent"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
